@import url("https://fonts.googleapis.com/css2?family=Jost&family=Sen&display=swap");
.Nav {
    
  height: 3em;
  grid-area: header;
  display: flex;
  align-items: center;
}
.navTags {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
  padding: 0 1rem 0 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: "Jost", sans-serif;
  border-radius: 0.375rem;
  cursor: pointer;
}

.navTags:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  
}
